/* Focus styling is important for accessibilty. This is a game. Don't try this at home. */
:focus {
    outline-style: none !important ;
}

.cursive.sapMTitle {
    font-family: 'Brush Script MT', cursive !important;
  }

.rotate {
    transition-duration: 1s;
    transition-property: transform;
    transform: rotate(15deg);
}

.card {
	width: 50px;
    height: 80px;
    padding: 10px;
    border: solid 1px #808080;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    font-size: 24px;
    text-align: center;
    margin: 3px;
    border: solid 3px;
}

.card .symbol {
	font-size: 36px;
}

.card.black {
	color: #000000;
}

.card.red {
	color: red;
}

.card.winner {
	background-color: #c2ffbf;
}

.card.inactive {
	background-color: #dedede;
}